doctype html
html
    head
        title= title
        link(rel='stylesheet', href='../styles/style.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="https://code.jquery.com/jquery-3.6.4.min.js")
        script(src = "../scripts/script.js")
    body
        block content
        block var